.o_action{
    background-color: #f1e5cd87;
}
.card_design{
    background-color: transparent;
    border: none;
    width: 50%;
    text-align: center;
    padding: 10px 0;
}

.canvas_design{
    width: 50%;
    margin: 0 auto;
}