.o_awesome_tshirt_dashboard {
    background-color: rgb(80, 76, 72);
    color: white;
  }
  
  .position-relative {
    position: relative;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
  }
  